<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<section style="background-color: #ffff;">
    <div class="container">
  
      <div class="row">
        <div class="col-xl-12 align-self-center">
  
          <div class="card" id="chat1" style=  "border-radius: 15px;  margin-top: 5px;">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px; background-color: #01594B;">
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold">FORO</p>
              <i class="fas fa-times"></i>
            </div>
            <div class="card-body">
  
              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">¿Qué tipo de suelo es más adecuado para cultivar tomates?</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">
                    ¡Hola! Los tomates crecen mejor en un suelo rico en materia orgánica, con buen drenaje y un pH entre 6 y 6.5. Lo ideal es un suelo franco o franco-arenoso.</p>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">
                    Pero también puedes cultivarlos en suelos arenosos o arcillosos si mejoras el drenaje y la fertilidad. ¡Mucha suerte con tu cosecha!</p>
                </div>
              </div>

  
              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">¡Gracias por la información! Me ha sido muy útil, solo para asegurarme de entender correctamente.</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>
              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0"> ¿Cómo puedo controlar el pH del suelo para mantenerlo en el rango ideal para el cultivo de tomates?</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>
  
              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">Si el suelo es ácido, agrega cal, dolomita o ceniza de madera. Si es alcalino, agrega azufre, sulfato de aluminio,<br> compost o estiércol. Realiza pruebas de pH regularmente y consulta con un experto si necesitas ayuda. </p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">Muy bien, todo claro, gracias</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>
  
              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">Disculpa<br>¿Sabes cómo puedo prevenir las plagas y enfermedades en mis plantas de calabacín?</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">Lo siento, no tengo ni idea</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>
  
              <div class="form-outline" style="display: flex;">
                <textarea class="form-control" id="textAreaExample" rows="4" style="height: 50px; margin-right: 5px;"></textarea><button style="border-radius: 5px; border: none; background-color: #01594B; color:#ffff;">Enviar</button>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>