<div class="router-content">
  <div class="wreapper">
    <aside id="sidebar">
      <div class="d-flex">
        <button class="toggle-btn" type="button">
          <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo">
          <a href="#">AgroDirecta</a>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a href="/agua" class="sidebar-link">
            <i class="bi bi-droplet-fill"></i>
            <span>Agua</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/controlplagas" class="sidebar-link">
            <i class="bi bi-bug-fill"></i>
            <span>Control de Plagas</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/foro" class="sidebar-link">
            <i class="bi bi-substack"></i>
            <span>Foro</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/precios" class="sidebar-link">
            <i class="bi bi-cash-coin"></i>
            <span>Precios</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/tips" class="sidebar-link">
            <i class="bi bi-journal-bookmark-fill"></i>
            <span>Tips</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>

</div>

<router-outlet ></router-outlet>