<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2018/05/02/10/34/spinach-3368253_640.jpg)"></div>

  </div>
  <div class="description">
    <h1>Preparacion del suelo</h1>
    <p> Analizar el suelo para conocer sus necesidades (pH, nutrientes, composición).
      Labranza mínima para preservar la estructura y microorganismos del suelo.
      Utilizar abonos orgánicos (compost o estiércol) para enriquecer el suelo.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2016/02/01/18/25/flowers-1174127_640.jpg)"></div>
  </div>
  <div class="description">
    <h1>Siembra y cuidados:</h1>
    <p>Elegir semillas adaptadas al clima y suelo.
      Siembra en el momento adecuado.
      Riego eficiente con técnicas de ahorro de agua.
      Control de malezas con métodos manuales, mecánicos o biológicos.
      Manejo integrado de plagas (MIP) para un control sostenible.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>
<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2019/12/10/01/35/hydroponics-4684821_640.jpg)"></div>
  </div>
  <div class="description">
    <h1>Sostenibilidad y técnicas avanzadas:</h1>
    <p>Rotación de cultivos para mejorar la fertilidad y controlar plagas.
      Cultivos de cobertura para proteger el suelo y atraer insectos benéficos.
      Uso de tecnología para optimizar el uso de recursos (sensores, imágenes satelitales, drones).
      Agricultura de precisión para una aplicación localizada de insumos (agua, fertilizantes).</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2018/09/08/22/41/compost-3663514_640.jpg)"></div>
  </div>
  <div class="description">
    <h1>Recuerda:</h1>
    <p>Capacitarse constantemente en nuevas técnicas y tecnologías agrícolas.
      Buscar asesoría técnica de un ingeniero agrónomo o técnico agrícola para obtener recomendaciones específicas para tu terreno y cultivos.
      Aplicar prácticas agrícolas sostenibles que cuiden el medio ambiente, como la conservación del agua y del suelo, la promoción de la biodiversidad y la reducción del uso de pesticidas y fertilizantes químicos.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>
<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(https://cdn.pixabay.com/photo/2020/04/19/18/33/irrigation-5064925_640.jpg)"></div>
  </div>
  <div class="description">
    <h1>Combina abono orgánico y compostaje:</h1>
    <p>Reduce la dependencia de fertilizantes químicos costosos.
      Mejora la fertilidad y estructura del suelo a largo plazo.
      Promueve la actividad microbiana beneficiosa para las plantas.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>