<div class="container">

<div class="titulo">
    <h1>Control de plagas</h1>

    <h2>Muestranos la imagen de la plaga</h2>
</div>

<div class="container">
    <br>
    <div class="row align-self-center" style="width: 100%;">
      <div class="col">
        <input type="text" class="form-control"type="file">
        <br>
        <button class="btn btn-primary" style="background-color: #01594B;" (click)="getText()">Enviar</button>
      </div>
      <textarea id="textArea" class="area">...</textarea>
     </div>
  </div>
</div>

